.content-body{
    /* position:absolute ; */
    z-index: 999 ;
    /* margin: 32px 334.6px 32px  334.6px  ; */
    top:-100px ;
    /* margin: 0px 334.6px 0px  334.6px !important  ; */
    margin: 60px 334.6px 0px  20px !important  ;
    height:2098.95px ;
    width:850px ;
    /* background-color:orange ; */
    background-color:#181818 ;
    border-radius: 10px 10px 0 0;
}

.iframe-video{
    /* background-color: red; */
    height:20% ;
    border-radius: 10px 10px 0 0;

}

.iframe-video-class
{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px 10px 0 0;
}

.main-container{
    padding:0 3em ;
    height:100% ;
}

.movie-cast-content-info{
    height:11% ;
    /* background-color: aliceblue; */
    position: relative;
    display: flex;
}

.movie-content-info{
    /* position: relative; */
    height:100% ;
    width:70% ;
    /* background-color: brown; */
}

.movie-info-fullContent{
    height:20% ;
    /* background-color: orangered; */
    display:flex ;
    align-items: center ;
}

.info_span{
    color:white ;
    font-weight: 800;
    font-size: 1.2rem ;
}

.contentRating{

    border: 1px solid ;
    padding: 0 8px;
    /* margin:2px ; */
}

.movie-description{
    padding-right: 30px;
    height:70% ;
    color:white ;
    margin: 20px 0 0 0;
    /* font-size: 1.2rem ; */
    font-size: 1rem ;
}

.cast-content-info{
    /* position: relative; */
    padding-top: 10px ;
    height:50% ;
    width:30% ;
    background-color: #181818;
}

.anchorLink{
    text-decoration: none;
    color: white ;
    border-bottom: 1px solid;
}

.upper-cast-info{
    height:50% ;
    /* background-color: violet; */
}

.cast-span-info{
    margin: 3px;
    color: white;
    font-weight: 500;
}

.genre-info{
    height:50% ;
}

.genre-span{
    margin:3px ;
    color:#777 ;
    font-style: italic;
    font-weight: 1000;
}

.genre-span-info{
    margin:3px ;
    color:white ;
    font-weight: 500;
}

.more-like-this{
    overflow-x:hidden ;
    height: 50% ;
    background-color: #181818;
}

.more-like-this::-webkit-scrollbar {
    display: none;
}

.more-like-span{
    /* background-color: black; */
    padding:0px 20px 20px 0;
    font-size: 1.9rem;
    color:white ;
    font-weight: 1000;
}

.more-like-component{
    display: flex;
    flex-wrap: wrap;
}

.about-movie-info{
    padding-bottom:2em ;
    height:15% ;
    /* background-color: aquamarine; */
}

.about-span{
    font-size: 1.5rem ;
    color:white ;
}

.about-movie{
    height:80% ;
    margin-top:30px ;
    display:flex; 
    flex-direction: column;
    justify-content: space-evenly;
}

.about{
    color:#757575 ;
    font-weight: 300 ;
}

.general{
    margin-right:5px ;
}

.director-info{
    color:white ;
}

.writer-info{
    color:white ;
}

.cast-info{
    color:white ;   
}

.general-info{
    color:white ;
}

