.navbar {
    width: 100%;
    height: 8% ;
    background-color: #141414;
    color:white ;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar.scrolled{
    background-color: #141414;
    transition  : 1s;
}

.navbar .container{
    position: relative;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.container img{
    height: 25px;
    margin-right: 40px;
}

.navbar .container span a{
    text-decoration: none;
    color: white ;
}

span {
    margin-right: 20px;
    cursor: pointer;
  }

.left{
    display: flex;
    align-items: center;
}

.right {
    /* background-color: orange; */
    padding:50px ;
    display: flex;
    align-items: center;
}

.search-btn input{
    outline:none;
    border:none;
    text-align: center;
}

.icon {
    margin: 0px 15px;
    cursor: pointer;
}

.right img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.options {
display: none;
background-color: var(--main-color);
border-radius: 5px;
}
.icon.dropDownNav:hover{
    /* display: flex;
    flex-direction: column;
    position: absolute; */
}

.profile span {
padding: 10px;
cursor: pointer;
}

.icon.searchNav{
    /* background-color: blue ; */
    /* height: 2.5em ; */
    color:white ;
    font-size : 2rem ;
    /* width: 50% ; */
}

.bellNav{

}

.search-area{
    /* background-color: orange ; */
    /* opacity: 0.5; */
    width: 290px ;
    margin-right:10px  ;
    transition: 3s ease-in-out all ;
}

.search-btn-bar-area{
    /* background-color: black ; */
    color:white ;
    border: 2px solid white;
    display: flex ;
    justify-content: flex-start;
    background:linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.6) 30%);

}

.search-area input{
    all:unset
}

.search-movies.bar{
    background-color: blue;
    text-decoration: none;
    /* border- */
    width:224px ;
    height:33px ;
    color:white ;
    background:linear-gradient(to top, transparent 100%, rgb(0, 0, 0, 0.6) 7%);
}

.search-btn-bar-area-active{
    /* background-color: black; */
    display: flex;
    justify-content: flex-end;
}

.onactive{
    /* color:orange ; */
}

    
    