.list
{
    width: 100%;
    /* margin-top: 10px; */
    background-color:#141414 ;
}

.listTitle{
    color:white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
}

.wrapper {
    padding-top:10px ;
    padding-bottom:50px ;
    position: relative;
}

.sliderArrow-left{
    width: 50px;
    height: 60px;
    background-color: rgb(22, 22, 22, 0.5);
    color: white;
    position: absolute;
    left:0.5% ;
    /* background-color: blue ; */
    z-index: 99;
    top: -30px; 
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.sliderArrow-right{
    width: 50px;
    height: 60px;
    background-color: rgb(22, 22, 22, 0.5);
    color: white;
    position: absolute;
    left:98% ;
    /* background-color: blue ; */
    z-index: 99;
    top: -30px ; 
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.sliderArrow-left:hover{
    left:0% ;
    height:200px ;
    width:40px ;
}

.sliderArrow-right:hover{
    /* right:0 ; */
    /* background-color: orange ; */
    left:97.5% ;
    height:200px ;
    width:40px ;
}

.container-list{
    margin-left: 50px;
    display: flex;
    margin-top: 10px;
    width: max-content;
    transform: translateX(0px);
    transition: all 1s ease;
}

.css-i4bv87-MuiSvgIcon-root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    /* height: 5em; */
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}