.movielist{
    height:200px ;
    width: 225px ;
    background-color: white ;
    margin-right:5px ;
    overflow: hidden;
    background-color: black;
    /* cursor: pointer;
    color: white; */
    color:white
}

.movieimg{
    height: 100%;
    width: 100%;
    /* z-index: 5; */
    /* object-fit:cover ; */
}

.movielist:hover video{
    /* width: 325px;
    height: 400px; */
    height:260px ;
    width:225px ;
    position:absolute ;
    top : -195px ;
    /* -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07); */
    /* box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.09); */
    border-radius: 5px;
}

.movielist:hover .movieimg{
    display: none;
}
/* height:170px ;
width:227px ;  */
/* .movieimg:hover{
    height:50% ;
    width:100% ;  
}
       */
       

.itemInfo{
    /* background-color: orange; */
    height:100% ;
    width: 100% ;
}

.icons{
    /* background-color: orange; */
    height:20% ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.itemInfoTop{
    /* background-color: blue; */
    height:10% ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.desc{
    /* background-color: blue; */
    /* height:10% ; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
