.movielist{
    height:200px ;
    width: 225px ;
    background-color: white ;
    margin-right:5px ;
    overflow: hidden;
    background-color: black;
    /* cursor: pointer;
    color: white; */
    color:white
}

.movieimg{
    height: 100%;
    width: 100%;
    /* z-index: 5; */
    /* object-fit:cover ; */
}

.movielist:hover .movieimg{
    /* width: 325px;
    height: 400px; */
    /* height:170px ;
    width:227px ; */
    height:85% ;
    width: 5% ;
    position:absolute ;
    top : -175px ;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.09);
    border-radius: 5px;
}

.movielist:hover .itemInfo
{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.09);
    border-radius: 5px;
}
/* height:170px ;
width:227px ;  */
/* .movielist:hover .movieimg{ */
    /* height:50% ;
    width:100% ;   */
    /* height:170px ;
width:227px ;  */
/* } */
      

       /* .movielist:hover {
        width: 325px;
        height: 400px;
        position:absolute ;
        top : -175px ;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
        box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.09);
        border-radius: 5px;
    } */
    /* height:170px ;
    width:227px ;  */
    /* .movielist:hover .movieimg{
        height:50% ;
        width:100% ;  
    } */